*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: cursive;
}

html, body{
  overflow-x: hidden;
}


#container {
  position: relative;
  max-width: 1000px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px #00000045;
  margin: auto;
}

header {
  padding: 25px 40px;
}

header > h1 {
  color: #B5B5B5;
}

nav {
  display: flex;
  background: #1F5FAA;
}

nav > a{
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.active, nav > a:hover{
  background: #2B83EA;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 30px;
}

#main {
  padding: 20px 30px ;
  color: gray;
}

#main > hr {
  border: 1px solid #c5c5c5;
  opacity: .5;
  border-radius: 5px;
  margin: 10px 0;
}

#sidebar {
  padding: 30px 0;
  padding-right: 30px;
}

.widget-box {
  border: 1px solid #c5c5c5;
  margin-bottom: 20px;
}

.widget-box > h3 {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  background: #2B83EA;
  color: white;
}

.widget-box > ul > li {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
}

.widget-box > ul > li:hover{
  text-decoration: underline;
}

.widget-box > ul > li:not(:last-child) {
  border-bottom: 1px solid #c5c5c5;
}

.widget-box > ul > li > a {
  color: black;
}

.widget-box > p {
 display: inline-block;
 padding: 12px;
 text-align: left;
}

#artikel {
  display: flex;
  flex-direction: column;
}

.artikel > a{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 gap: 15px;
}

.artikel{
  padding: 10px 0 10px 0;
}

.artikel img {
  width: 150px;
  height: 120px;
  border-radius: 10px;
}

.entry{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form > *{
  border: 1px solid #B5B5B5;
  padding: 10px;
  font-size: 18px;
}

.form > .button-kirim{
  width: 100px;
  border: none;
  background-color: #2B83EA;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: all .5s;
}
.form > .button-kirim:hover {
  transform: scale(1.05, 1.05);
}

.table{
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td{
  border: 1px solid #B5B5B5;
  padding: 5px 8px;
}

.table th {
  background-color: #2b84eabc;
  color: #fff;
}

.table td:nth-child(1) {
  text-align: center;
}

.table td:nth-last-child(1) > div{
  display: flex;
  gap: 5px;
}

.btn {
  padding: 5px 10px;
  background-color: #FFC107;
  color: #000;
  border-radius: 10px;
}

.btn-danger{
  background-color: #DC3545;
  color: #fff;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  opacity: .9;
  padding: 20px 30px;
  color: white;
}